<div class="search" >
  <form #form="ngForm" (submit)="onSubmit()">
  <input type="text" placeholder="Search City" name="city" [(ngModel)]="city">
</form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
<img src="https://newsroom.uhc.com/content/dam/newsroom/Clothes-for-cold-refresh_newsroom.jpg" *ngIf="temperatureCelsius < 15">
<img src="https://media.istockphoto.com/id/1226628621/photo/summer-background-orange-sky-with-clouds-and-bright-sun.jpg?s=612x612&w=0&k=20&c=CWg58-taK46CyW3vcGnKlG0wkjiNhfzsPKZp_zVpAFc=" *ngIf="temperatureCelsius > 15">  
<div class="weather-data">
  <div class="location">
    {{weatherData.name}}
  </div>
  <div class="temperature">{{temperatureCelsius | number:'1.0-0'}}°C</div>
</div>
</div>
  <div class="lower-data" >
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container" >
      <div class="info">
        <div class="info-block">
          <p >🌡</p>
          <span>Min</span>
        </div>
        <div class="info-value">
          {{(weatherData.main.temp_min - 273).toFixed(0)}}°C
        </div>
      </div>
      <div class="info">
        <div class="info-block">
          <p >🌡</p>
          <span>Max</span>
        </div>
        <div class="info-value">
          {{(weatherData.main.temp_max - 273).toFixed(0)}}°C 
          <!--   we can also use pipes to get the temperature in only 2 digits -->
        </div>
      </div>
      <div class="info">
        <div class="info-block">
          <p >🌡</p>
          <span>Humidity</span>
        </div>
        <div class="info-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>
      <div class="info">
        <div class="info-block">
          <p >🌡</p>
          <span>Wind </span>
        </div>
        <div class="info-value">
          {{weatherData.wind.speed}} m/s
        </div>
      </div>
    </div>
    

  </div>
</div>

<router-outlet> </router-outlet>


